.Header {
    background-color: #008080;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.To-Do {
    width: 50%;
    text-align: right;
}

.Time-Block {
    width: 50%;
    text-align: right;
}