.TaskTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.HeadRow {
    width: 20%;
    font-size: 18px;
    font-weight: bold;
}

.DescriptionColumn {
  width: 30%;
}

.TitleColumn {
  width: 25%;
}

.OtherColumns {
  width: 15%;
}

.Value {
  border-collapse: collapse;
  padding: 10px;
}

.Action {
  colspan: 2;
}

tr:nth-child(even) {
  background-color: #add8e6;
}